h2{
    margin-top: 20px;
    font-size: 15px;
}

form{
    margin-top: 2em;
}

h2{
    margin-top: 5em;
    font-size: 20px;
}

.profile-pic{
    margin-top: 9em;
    height: 50%;
    width: 200px;
}

.bio{
    margin-top: 3em;
}